.btn-style{
    margin-right: 20px;
}
.error {
    font-size: 14px;
    color: tomato;
    margin: 0 auto;
}
.contents{
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.contents-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #6b1010;
    margin-bottom: 4%;
    margin-right: 3%;
    width: 45%;
}
.contents-text h4 {
    margin-bottom: 1rem;
    font-size: 1.7rem;
}
.contents-text {
    text-align: center;
    padding: 0 20px;
    word-break: break-all;
}
.contents-img {
    width: 45%;
    text-align: left;
    overflow: hidden;
}

.contents-img img {
    display: block;
    width: 100%;
    height: auto;
}

.show-img{
    width: 30%;
    height: auto;
}

@media screen and (max-width: 768px){
    .contents-img{
        width: 50%;
        height: auto;
    }
    .contents-text{
        padding-left: 20px;
    }
    .contents-text h4 {
        font-size: 22px;
    }
    .show-img{
        width: 100%;
        height: auto;
    }
}